html {
  font-family: sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.main-wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
}

.nav {
  background-color: cadetblue;
  grid-column: 1 / 4;
  grid-row: 1;
  /* height: 77px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000a50;
  z-index: 1;
}

.nav li {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}

.nav li ul {
  padding: 12px;
  margin: 0;
}

.nav li a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
  text-shadow: 1px 1px black;
}

.content {
  grid-column: 1 / 4;
  grid-row: 2;
  background-color: aliceblue;
  min-height: 65vh;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 3;
  background-color: #000a50;
  min-height: 90px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.form input[type="text"],
input[type="date"] {
  background: #9e9e9e82;
  border-radius: 6px;
  border: 1px solid;
  font-weight: 700;
  padding: 12px 21px;
  box-sizing: border-box;
  box-shadow: 3px -2px black;
  width: 195px;
  height: 30px;
  font-size: 13px;
  margin: 5px;
  color: black;
}

.form button {
  width: 140px;
  border-radius: 6px;
  color: black;
  font-weight: 800;
  background: #c7cacd;
  padding: 5px;
}

/* hero  */
.hero {
  padding: 25px;
  background: #134ba7;
  position: relative;
  margin-bottom: 100px;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20220329/pngtree-mobile-crane-blueprint-build-wheel-invisible-photo-image_26431738.jpg);
  background-position: center;
  background-size: 84% 100%;
  background-repeat: no-repeat;
}

.hero-content .banner-image {
  max-height: 252px;
  height: 19vw;
  border-radius: 8px;
  box-shadow: 7px 4px 9px 5px black;
}

.hero-content h1 {
  max-width: 521px;
  text-shadow: -4px 1px 4px black;
  z-index: 1;
  background: lightskyblue;
  border-radius: 24px;
  padding: 2px 27px;
  color: #fffbf5;
  box-sizing: border-box;
  border: 3px solid #000a50;
}

.hero-content {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  padding: 0 8%;
  margin-bottom: 15px;
}

.search-container {
  width: 80vw;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 19%);
  background: lightskyblue;
  height: 50px;
  align-items: center;
  border-radius: 16px;
}

.search-bar {
  height: 50%;
  width: 72%;
  font-weight: 900;
  padding: 12.3px 4%;
  background-image: url(https://icons.veryicon.com/png/o/commerce-shopping/small-icons-with-highlights/search-260.png);
  box-sizing: border-box;
  background-position: 98%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 7px;
  border: 1px;
  z-index: 1;
}

.section-blank {
  padding: 0 4%;
}

/* categories */
.section-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.section-categories h2 {
  width: 100%;
}

.categories-container {
  display: grid;
  width: 80vw;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  gap: 28px;
}

.category {
  width: 11vw;
  height: 11vw;
  border-radius: 20px;
  background: gray;
  overflow: hidden;
  box-shadow: 0px 5px 9px 3px #000000c7;
}

.search-results {
  position: absolute;
  top: 75%;
  width: 72%;
  color: #ffffffcf;
  background: #020a4d;
  font-weight: 900;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px;
}

.search-results div:hover {
  background: #9ea6e2;
  cursor: pointer;
  transition: 0.5s;
}

.category-overlay {
  width: 100%;
  height: 100%;
  background: #1d1d1d57;
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-overlay h2 {
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px 9px black;
  width: unset;
}

.button-logout{
  font-weight: 900;
  width: 100%;
  padding: 10px;
  background-color: #4c57af;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
}

#crane-home {
  position: absolute;
  height: 387px;
  left: -3%;
  z-index: 0;
  top: -575%;
}

.step1-rent {
  display: flex;
  flex-direction: column;
  width: 400px;
}

