html {
  font-family: sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.main-wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
}

.nav {
  background-color: cadetblue;
  grid-column: 1 / 4;
  grid-row: 1;
  /* height: 77px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000a50;
}

.nav li {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}

.nav li ul {
  padding: 12px;
  margin: 0;
}

.nav li a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
}

.content {
  grid-column: 1 / 4;
  grid-row: 2;
  background-color: aliceblue;
  min-height: 65vh;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 3;
  background-color: #000a50;
  min-height: 90px;
  margin-top: 35px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.form input[type="text"],
input[type="date"] {
  background: #9e9e9e82;
  border-radius: 6px;
  border: 1px solid;
  font-weight: 700;
  padding: 12px 21px;
  box-sizing: border-box;
  box-shadow: 3px -2px black;
  width: 195px;
  height: 30px;
  font-size: 13px;
  margin: 5px;
  color: black;
}

.form button {
  width: 140px;
  border-radius: 6px;
  color: black;
  font-weight: 800;
  background: #c7cacd;
  padding: 5px;
}

/* hero  */
.hero {
  padding: 25px;
  background: #000a50;
  position: relative;
  margin-bottom: 100px;
}

.hero-content img {
  max-height: 252px;
  height: 19vw;
}

.hero-content h1 {
  max-width: 521px;
}

.hero-content {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  padding: 0 8%;
}

.search-container {
  width: 80vw;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 19%);
  background: lightskyblue;
  height: 50px;
  align-items: center;
}

.search-bar {
  height: 50%;
  width: 72%;
  font-weight: 900;
  padding: 12.3px 4%;
  background-image: url(https://icons.veryicon.com/png/o/commerce-shopping/small-icons-with-highlights/search-260.png);
  box-sizing: border-box;
  background-position: 98%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-blank {
  padding: 0 4%;
}

/* categories */
.section-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-categories h2 {
  width: 100%;
}

.categories-container {
  display: grid;
  width: 80vw;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  gap: 28px;
}

.category {
  width: 11vw;
  height: 11vw;
  background: gray;
}