.rent-container1 {
    padding: 2% 8%;
    background: #dadada;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 33px;
}

.confirm-cart-button-container {
    display: flex;
    justify-content: flex-end;
}

.confirm-cart-container {
    display: grid;
    gap: 20px;
    background: white;
    border-top: 10px solid #020a4d;
    padding: 1% 4%;
}

.confirm-cart-button-container button {
    padding: 0.7% 4%;
    background: #254bac;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.confirm-cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #eff8ff;
    border-radius: 8px;
    padding: 0 4%;
    align-items: center;
    justify-items: center;
}


.confirm-cart-item img {
    border-radius: 21px;
    padding: 8px;
    box-sizing: border-box;
}

.confirm-cart-item button {
    margin: 11px;
}

.remove-cart-confirm-item {
    padding: 1.7% 4%;
    background: #254bac;
    color: white;
    font-weight: 700;
    width: 140px;
    margin: auto;
    cursor: pointer;
}

.confirm-cart-details-wrap {
    display: grid;
    height: 100%;
    gap: 18px;
}

.confirm-cart-details {
    background: white;
    border-top: 10px solid #020a4d;
    padding: 1% 4%;
    position: relative;
    cursor: pointer;
}

.confirm-cart-details-step3 {
    height: 45%;
    cursor: unset;
}

img.detailCheckmark {
    position: absolute;
    top: -12%;
    background: white;
    right: -2%;
    border-radius: 41px;
    height: 40px;
}

.confirm-cart-details-inputs div {
    display: flex;
    gap: 11px;
    flex-direction: column;
    margin: 14px;
}

.confirm-cart-details-inputs input {
    width: 100%;
    padding: 2% 6%;
    box-sizing: border-box;
}

.confirm-cart-details-inputs button[type="submit"] {
    padding: 0.7% 3%;
    background: #254bac;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.confirm-step2-button-container {
    grid-column: 2;
    margin-left: auto;
}

.confirm-step2-button-container button {
    padding: 5.7% 4%;
    background: #254bac;
    color: white;
    font-weight: 700;
    cursor: pointer;
    width: 157px;
}

.order-receipt {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h3.receipt-total {
    border-top: 7px solid;
    padding-top: 17px;
}

h3.vat-total {
    border-top: 3px solid;
    padding-top: 17px;
}

.order-receipt-container {
    background: white;
    border-top: 10px solid #020a4d;
    padding: 1% 4%;
}

.rent-step3-button {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
}

.rent-step3-button button {
    padding: 2.7% 4%;
    background: #254bac;
    color: white;
    font-weight: 700;
    cursor: pointer;
    width: 157px;
}

.discount-input{
    padding: 5px;
}

.discount-submit{
    width: 50%;
    background: #254bac;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.sub-total{
    border-bottom: 3px solid;
}

.receipt-discount{
    border-bottom: 3px solid;;
}

.receipt-remove-discount{
    font-size: 15px;
    text-decoration: underline;
    color:crimson;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}

.discount-error-message{
    color: crimson;
    text-decoration: underline;
    font-size: 15px;
    border-bottom: 3px solid black;
}

.receipt-total-discounted {
    display: flex;
    gap: 13px;
    align-items: center;
}