.filter-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.filter-input,
.filter-slider {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.slider-value {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
    position: absolute;
}

.btn-apply-filter {
    border: 1px solid gray;
    background: #020a4d;
    color: aliceblue;
    font-weight: 600;
}