.detailPage-profile-user {
  display: flex;
}

.detailPage-profile-user .detailPage-post-content {
  flex: 1; /* This will ensure that the content takes up half of the flex container */
  display: flex;
  flex-direction: column; /* Aligns the product information in a column */
  justify-content: center; /* Centers the product information vertically */
  align-items: center; /* Centers the product information horizontally */
}

.detailPage-profile-user .detailPage-post-content img,
.detailPage-profile-user .detailPage-post-content video {
  max-width: 145%; /* Ensures that the media does not overflow its container */
  max-height: 600px;

}

.detailPage-profile-user .detailPage-post-content .detailPage-product-name,
.detailPage-profile-user .detailPage-post-content .detailPage-product-price,
.detailPage-profile-user .detailPage-post-content .detailPage-product-description {
  text-align: center; /* Aligns the text to the center for readability */
}
.detailPage-product-name {
  font-weight: bold; 
  margin-top: -230px;/* This will make the text bold */
}
.detailPage-product-description {
  margin-top:200px;  /* This will make the text bold */
}
.detailPage-product-price {
  margin-top:20px;  /* This will make the text bold */
}
