.submit {
  margin-top: 400px;
  display: flex;
  color: #1350a5;
  font-size: 20px;
  font-weight: 700;
}

.see-rents {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: #04bede;
  font-size: 52px;
  font-weight: 700;
}

.account-content {
  width: 100%;
  height: 100%;
  display: flex;

}

.account-sidebar {
  background: #28369d;
  width: 20%;
  min-width: 100px;
  height: 100%;
}

.account-container {
  padding: 20px;
  width: 100%;
  height: -webkit-fill-available;
}

.profile-info-container input {
  border: 1px solid #000a50;
  padding: 0.7% 4%;
  height: 30px;
  font-size: 17px;
  font-weight: 600;
  background: #fbfbfb;
  border-radius: 10px;
}

.profile-info-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 21px;
}

.profile-field {
  display: flex;
  flex-direction: column;
}

.account-sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  justify-content: center;
  margin: 20px;
}

.account-sidebar-links button {
  width: 90%;
  border-radius: 8px;
  height: 30px;
  border: 1px solid;
  background: #4c57af;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

#sidebar-title {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}




