.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
    margin-right: 100px;
  }
  
  .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: rgb(210, 242, 255);
    background: #000A50;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
  }

  .edit-button {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
  }

  
  
  .edit-button:hover {
    background-color: #0069d9;
  }